<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile Updated</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <h2>Profile Update Status</h2>

    <div style="color:green;" th:if="${message}">
        <p th:text="${message}">Your profile has been updated successfully!</p>
    </div>

    <div>
        <a th:href="@{/api/auth/update}">Go back to Profile</a>
    </div>

    <div>
        <a th:href="@{/api/auth/login}">Logout / Login Again</a>
    </div>
</body>
</html>
